<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768098676603-tpk27pbh1qkh5e4spmqbv5k6gttih5f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768098676603-tpk27pbh1qkh5e4spmqbv5k6gttih5f1</string>
	<key>API_KEY</key>
	<string>AIzaSyC2dFn3l7BaNilRfko-GUDiZda6hfVPRX4</string>
	<key>GCM_SENDER_ID</key>
	<string>768098676603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egorpetkevich.NetflixProject</string>
	<key>PROJECT_ID</key>
	<string>netflix-444ee</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-444ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768098676603:ios:c4910ed1d47526840817de</string>
	<key>DATABASE_URL</key>
	<string>https://netflix-444ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>