<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Light</string>
				</array>
			</dict>
			<key>AppIcon-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Please allow notification to subscribe on releases</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Please allow authentication with biometrics</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>authGoogleLogo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.768098676603-tpk27pbh1qkh5e4spmqbv5k6gttih5f1</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
